.main-title {
    color: #FAE8FF;
    background: #A383AC;
    background: linear-gradient(to right, #a383ac 0%, #FAE8FF 49%, #a383ac8e 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* position: absolute; */
}

.weatherIcon {
    object-fit: contain;
}

[data-theme="dark"].text1 {
    color: #FAE8FF;
}

[data-theme="dark"].text2 {
    color: #FAE8FF;
}

[data-theme="dark"].text3 {
    color: #FAE8FF;
}


[data-theme="light"] .text1 {
    color: #0B0014;
}

[data-theme="light"] .main-title2 {
    background: #0B0014;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divText {
    margin: 10px auto auto 97px;
}

[data-theme="light"] #figma img {
    content: url('../../../public/figma-light.svg');
    width: 70px;
}

[data-theme="light"] #vscode img {
    content: url('../../../public/vscode-light.svg');
    width: 70px;
}

[data-theme="dark"] #github img {
    content: url('../../../public/Github-dark.svg');
}

[data-theme="light"] #insomnia img {
    content: url('../../../public/insomnia-light.svg');
    width: 70px;
}

@media (max-width: 640px) {
    .imageAbout {
        width: 12rem;
        height: 12rem;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        justify-content: center;
        margin: 0 auto;
    }

    .text1 {
        width: fit-content;
        font-size: 20px;
    }

    .text2 {
        font-size: 15px;
    }

    .text3 {
        width: 300px;
        font-size: 10px;
    }

    .weatherIcon {
        height: 20px;
    }

    #vscode img {
        width: 55px;
    }
}

@media (max-width: 1024px) {

    .imageAbout {
        width: 16rem;
        height: 16rem;
        /* margin-left: 2rem; */
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        justify-content: center;
        margin: 0 auto;
    }

    .text1 {
        font-size: 25px;
        margin: 0 auto;
        width: fit-content;
        margin: 0 auto;
    }

    .text2 {
        font-size: 20px;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
    }

    .text3 {
        font-size: 13px;
        margin: 0 auto;
    }

    .weatherIcon {
        height: 50px;
    }

    .divText {
        margin: 0 auto;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    #figma img {
        width: 45px;
    }
}

@media (min-width: 1024px) {

    .imageAbout-container {
        /* display: flex; */
        align-items: center;
    }

    .imageAbout {
        width: 24rem;
        height: 24rem;
        align-items: end;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
    }

    .text1 {
        font-size: 64px;
        font-weight: 700;
    }

    .text2 {
        font-size: 40px;
        font-weight: 500;
        /* display: flex; */
        align-items: center;
        /* Centra verticalmente los elementos */
    }

    .text3 {
        font-size: 24px;
        font-weight: 300;
        width: 600px;
        margin-top: 38px;
    }

    .divText {
        margin: 0 0 0 50px;
    }

}

.onRepeat {
    display: flex;
    height: fit-content;
    width: 100%;
    background-color: #1DB954;
    z-index: 20;

    @media (max-width: 1024px) {
        width: 16rem;
        margin: 0 auto 30px auto;
    }
}

.onRepeat-container {
    padding: 10px;

    @media (max-width: 1024px) {
        padding: 7px;
    }
}

.onRepeat-title {
    display: flex;
    margin: 5px 70px;
    width: fit-content;

    @media (max-width: 1024px) {
        margin: 2.5px 35px;
    }

    @media (max-width: 1024px) {
        margin: 2.5px 35px;
        font-size: 13px;
    }
}

.onRepeat-logo {
    margin-left: 20px;
    width: 40px;

    @media (max-width: 1024px) {
        margin-left: 10px;
        width: 30px;
    }

    @media (max-width: 640px) {
        width: 20px;
    }
}

.onRepeat-info {
    display: flex;
    margin-left: 20px;
    width: 100%;

    @media (max-width: 1024px) {
        margin-left: 8px;
        font-size: 10px;
        width: 100%;
    }
}

.onRepeat-info-text {
    margin-left: 20px;

    @media (max-width: 1024px) {
        margin-left: 10px;
        font-size: 15px;
    }

    @media (max-width: 640px) {
        margin-left: 10px;
        font-size: 10px;
    }
}

.onRepeat-icon {
    @media (max-width: 1024px) {
        width: 30px;
    }
}

.onRepeat-track {
    font-weight: 300;
}