.image-certificate-henry {
    width: 750px;
    transition: all .5s;
}

.image-certificate-english {
    width: 350px;
    transition: all .5s;
}

.image-certificate-henry:hover,
.image-certificate-english:hover {
    transform: scale(1.01);
    filter: drop-shadow(10px 5px 4px #49494977);
}

.image-certificate-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.description-container {
    margin-top: 30px;
    text-align: center;
}

[data-theme="dark"] .description-certificate {
    color: #FAE8FF;
}

[data-theme="light"] .description-certificate {
    color: #0B0014;
}