.image-certificate-henry {
    width: 750px;
    transition: all .5s;
    border-radius: 4px;
}

.image-certificate-english {
    width: 350px;
    transition: all .5s;
    border-radius: 4px;
}

.image-certificate-henry:hover,
.image-certificate-english:hover {
    transform: scale(1.01);
    filter: drop-shadow(10px 5px 4px #49494977);
}

.image-certificate-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.description-container {
    margin-top: 30px;
    text-align: center;
}

[data-theme="dark"] .description-certificate {
    color: #FAE8FF;
}

[data-theme="light"] .description-certificate {
    color: #0B0014;
}

@media (max-width: 1024px) {
    .image-certificate-henry {
        width: 90%;
    }

    .image-certificate-english {
        width: 50%;
    }
}

@media (max-width: 640px) {
    .image-certificate-henry {
        width: 340px;
    }

    .image-certificate-english {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .image-certificate-henry {
        width: 650px;
    }

    .image-certificate-english {
        width: 370px;
    }
}