.contact-container,
.contact-container-about {
  width: 17vw;
  margin: auto;
  gap: 20px;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

.contact-container-about {
  @media (max-width: 520px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

[data-theme="dark"] .contact-items-about {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.05);
  backdrop-filter: blur(32px);
  border: 1px solid transparent;
  border-image-source: linear-gradient(
    45deg,
    #ffffff81 0%,
    #ffffff00 70%,
    #ffffff81 90%
  );
  border-image-slice: 1;
  transition: all 0.5s;
}

[data-theme="dark"] .contact-items {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.05);
  backdrop-filter: blur(32px);
  border: 1px solid transparent;
  border-image-source: linear-gradient(
    45deg,
    #ffffff81 0%,
    #ffffff00 70%,
    #ffffff81 90%
  );
  border-image-slice: 1;
  transition: all 0.5s;
}

[data-theme="light"] .contact-items-about {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.05);
  backdrop-filter: blur(32px);
  /* border: 1px solid rgba(236, 234, 234, 0.411); */
  border: 1px solid transparent;
  border-image-source: linear-gradient(
    45deg,
    #9747ff 0%,
    #ffffff 70%,
    #9747ff 90%
  );
  border-image-slice: 1;
  transition: all 0.5s;
}
[data-theme="light"] .contact-items {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.05);
  backdrop-filter: blur(32px);
  /* border: 1px solid rgba(236, 234, 234, 0.411); */
  border: 1px solid transparent;
  border-image-source: linear-gradient(
    45deg,
    #9747ff 0%,
    #ffffff 70%,
    #9747ff 90%
  );
  border-image-slice: 1;
  transition: all 0.5s;
}

.contact-items-about img {
  width: 100%;
  padding: 15px;
}

.contact-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid red;
}

.contact-items img {
  margin: 0 auto;
}

.contact-items-about:hover,
.contact-items:hover {
  transform: translate3d(-10px, -10px, -20px);
  filter: drop-shadow(10px 5px 4px #49494977);
}

[data-theme="dark"] .contact-items p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fae8ff;
  padding: 10px;
}

[data-theme="light"] .contact-items p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #0b0014;
  padding: 10px;
}

[data-theme="light"] #linkedin img {
  content: url("../../../public/linkedin-light.svg");
}

[data-theme="light"] #gmail img {
  content: url("../../../public/gmail-light.svg");
}

[data-theme="light"] #fiverr img {
  content: url("../../../public/fiverr-light.svg");
}
[data-theme="light"] #upwork img {
  content: url("../../../public/upwork-light.svg");
}

[data-theme="dark"] #github img {
  content: url("../../../public/Github-dark.svg");
}

.download {
  margin-top: 35px;
}

.download-title {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width: 1024px) {
  .contact-container {
    width: 80%;
    margin: 0 auto;
    gap: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
}
