@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] body {
  background-color: #0B0014
}

body {
  background-color: #FAE8FF;
}

.background {
  width: 895px;
  height: 895px;
  flex-shrink: 0;
  border-radius: 895px;
  opacity: 0.15;
  background: #A855F7;
  filter: blur(1000px);
  position: fixed;
  top: -550px;
  right: -0px;
  transition-duration: 1.3s;
  z-index: -1;

  @media (max-width: 1024px) {
    width: 447.5px;
    height: 447.5px;
    border-radius: 447.5px;
    top: -250px;
    right: 0px;
    filter: blur(80px);
    opacity: 0.1;
  }
}

[data-theme="dark"] .background {
  width: 895px;
  height: 895px;
  flex-shrink: 0;
  border-radius: 895px;
  opacity: 0.1;
  background: #A855F7;
  filter: blur(1000px);
  position: fixed;
  top: -550px;
  right: -0px;
  transition-duration: 1.3s;
  z-index: -1;

  @media (max-width: 1024px) {
    width: 447.5px;
    height: 447.5px;
    border-radius: 447.5px;
    top: -250px;
    right: -20px;
    filter: blur(80px);
    opacity: 0.1;
  }

  @media (max-width: 640px) {
    right: -100px;
  }
}

.background2 {
  background: #A855F7;
  width: 895px;
  height: 895px;
  flex-shrink: 0;
  border-radius: 895px;
  opacity: 0.25;
  filter: blur(1000px);
  position: fixed;
  bottom: -550px;
  transition-duration: 1.3s;
  z-index: -1;

  @media (max-width: 1024px) {
    width: 447.5px;
    height: 447.5px;
    border-radius: 447.5px;
    bottom: -250px;
    filter: blur(80px);
    opacity: 0.1;
  }
}

[data-theme="dark"] .background2 {
  width: 895px;
  height: 895px;
  flex-shrink: 0;
  border-radius: 895px;
  opacity: 0.1;
  background: #A855F7;
  filter: blur(1000px);
  position: fixed;
  bottom: -550px;
  transition-duration: 1.3s;
  z-index: -1;

  @media (max-width: 1024px) {
    width: 447.5px;
    height: 447.5px;
    border-radius: 447.5px;
    bottom: -250px;
    filter: blur(80px);
    opacity: 0.1;
  }
}

[data-theme="light"] .main-title,
.main-title2 {
  background: #0B0014;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1.3s;
}

[data-theme="dark"] .main-title,
.main-title2,
.main-title3 {
  background: linear-gradient(to right, #a383ac 0%, #FAE8FF 49%, #a383ac 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1.3s;
}

[data-theme="light"] .main-title3 {
  background: #0B0014;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {

  .main-title2 {
    margin-top: 120px;
    height: 103px;
  }

  .main-title3 {
    margin-top: 5rem;
    height: 103px;
  }

  [data-theme="dark"] .main-p {
    color: #FAE8FF;
  }

  [data-theme="light"] .main-p {
    color: #0B0014;
  }

  .grid-container {
    width: 17vw;
    margin: auto;
    justify-content: center;
    gap: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
  }

  .grid-container2 {
    gap: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 17vw;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
  }

  [data-theme="dark"] .item-languages {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(32px);
    /* border: 1px solid rgba(236, 234, 234, 0.411); */
    border: 1px solid transparent;
    border-image-source: linear-gradient(90deg, #ffffff81 0%, #ffffff00 50%, #ffffff81 90%);
    border-image-slice: 1;
    transition: all .5s;
  }

  [data-theme="light"] .item-languages {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(32px);
    /* border: 1px solid rgba(236, 234, 234, 0.411); */
    border: 1px solid transparent;
    border-image-source: linear-gradient(90deg, #9747FF 0%, #FFFFFF 50%, #9747FF 90%);
    border-image-slice: 1;
    transition: all .5s;
  }

  .item-languages img {
    margin: 50px auto 15px auto;
  }

  .item-languages:hover {
    /* transform: translateY(-10px); */
    transform: translate3d(-10px, -10px, -20px);
    filter: drop-shadow(10px 5px 4px #49494977);
  }



  [data-theme="dark"] .item-languages p {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FAE8FF;
  }

  [data-theme="light"] .item-languages p {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #0B0014;
  }

  [data-theme="dark"] #express img {
    content: url('../../public/express-color.svg');

  }

  [data-theme="light"] #expressjs img {
    content: url('../../public/express-light.svg');
    width: 70px;
    margin-top: 50px;
  }

  [data-theme="dark"] #next img {
    content: url('../../public/Next.png');
  }

  [data-theme="light"] #next img {
    content: url('../../public/nextjs-light.svg');
    width: 70px;
  }

  .item-languages img[alt="Express"] {
    margin-top: 70px;
  }
}

@media (max-width: 1024px) {

  .main-title,
  .main-title2,
  .main-title3 {
    font-size: 56px;
  }

  .main-title {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .main-title2 {
    margin-top: 50px;
    height: 105px;
  }

  .main-p {
    font-size: 20px;
    width: 70%;
    font-size: 14px;
  }

  [data-theme="dark"] .item-languages {
    width: 150px;
    height: 150px;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(32px);
    /* border: 1px solid rgba(236, 234, 234, 0.411); */
    border: 1px solid transparent;
    border-image-source: linear-gradient(90deg, #ffffff81 0%, #ffffff00 50%, #ffffff81 90%);
    border-image-slice: 1;
    transition: all .5s;
  }

  [data-theme="light"] .item-languages {
    width: 150px;
    height: 150px;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(32px);
    /* border: 1px solid rgba(236, 234, 234, 0.411); */
    border: 1px solid transparent;
    border-image-source: linear-gradient(90deg, #9747FF 0%, #FFFFFF 50%, #9747FF 90%);
    border-image-slice: 1;
    transition: all .5s;
  }

  [data-theme="dark"] .item-languages p {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  [data-theme="light"] .item-languages p {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .item-languages img {
    margin: 25px auto 7.5px auto;
    width: 65px;
  }

  .item-languages img[alt="Express"] {
    margin-top: 40px;
  }

  .grid-container {
    width: 8.5vw;
    margin: auto;
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
  }

  .grid-container2 {
    width: 8.5vw;
    margin: auto;
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
  }

  [data-theme="light"] #expressjs img {
    content: url('../../public/express-light.svg');
    width: 45px;
    margin-top: 35px;
  }

  [data-theme="dark"] #next img {
    content: url('../../public/Next.png');
  }

  [data-theme="light"] #next img {
    content: url('../../public/nextjs-light.svg');
    width: 45px;
    margin-top: 35px;
  }
}

@media (max-width: 640px) {

  .main-title {
    font-size: 45px;
  }

  .grid-container,
  .grid-container2 {
    width: 8.5vw;
    margin: auto;
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
  }

  .grid-container2 img {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}