.navbar {
    position: fixed;
    margin: 20px 33%;
    border: 1.5px solid rgba(236, 234, 234, 0.411);
    border-radius: 999px;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(32px);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
}

.IconContainer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: .3s;
    font-size: 0.9em;
}


.bookmarkBtn:hover .IconContainer {
    width: 90px;
    border-radius: 40px;
    transition-duration: .3s;
}

.bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
}

.bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
}



.navlist {
    color: #FAE8FF;
}